{% load staticfiles %}

<!--albums-->
<!-- pop-up-box -->
    <link href=" {%  static 'css/popuo-box.css' %} " rel="stylesheet" type="text/css" media="all">
    <script src=" {% static 'js/jquery.magnific-popup.js' %} " type="text/javascript"></script>
     <script>
            $(document).ready(function() {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });
            });
    </script>
<!--//pop-up-box -->


<div class="albums">
        <div class="tittle-head">
            <h3 class="tittle">New Releases <span class="new">New</span></h3>
            <a href="/"><h4 class="tittle">See all</h4></a>
            <div class="clearfix"> </div>
        </div>

    <div class="col-md-3 content-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src=" {% static 'posters/cover arts/AajaKina.png' %} " title="allbum-name"></a>
        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-play-circle"></i></a>
        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
    </div>

    <!-- Videos -->
    <div id="small-dialog" class="mfp-hide">
        <iframe src="https://www.youtube.com/embed/pUAska69jL4"></iframe>
    </div>

    <div id="small-dialog-mero" class="mfp-hide">
        <iframe src="https://www.youtube.com/embed/VKjmtTQW_GA"></iframe>
    </div>

    <div class="col-md-3 content-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog-mero"><img src=" {% static 'posters/cover arts/BariLai.png' %} " title="allbum-name"></a>
        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog-mero"><i class="glyphicon glyphicon-play-circle"></i></a>
        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog-mero">Listen now</a>
    </div>

    <div class="col-md-3 content-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src=" {% static 'posters/cover arts/ThamelBazaar.png' %} " title="allbum-name"></a>

        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
    </div>

    <!-- Last Grid -->
    <div class="col-md-3 content-grid last-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src=" {% static 'images/v4.jpg' %} " title="allbum-name"></a>

        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
    </div>

    <div class="col-md-3 content-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src=" {% static 'images/v5.jpg' %} " title="allbum-name"></a>

        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
    </div>

    <div class="col-md-3 content-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src=" {% static 'images/v6.jpg' %} " title="allbum-name"></a>

        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
    </div>

    <div class="col-md-3 content-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src=" {% static 'images/v7.jpg' %} " title="allbum-name"></a>

        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
    </div>

    <!-- Last Grid -->
    <div class="col-md-3 content-grid last-grid">
        <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src=" {% static 'images/v8.jpg' %} " title="allbum-name"></a>
        <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Listen now</a>
    </div>

    <div class="clearfix"> </div>

</div>