{% load staticfiles %}

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog facebook" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="app-grids">
                    <div class="app">
            <div class="col-md-5 app-left mpl">
                <h3>Mosaic mobile app on your smartphone!</h3>
                <p>Download and Avail Special Songs Videos and Audios.</p>
                <div class="app-devices">
                    <h5>Gets the app from</h5>
                    <a href="#"><img src=" {% static 'images/1.png' %} " alt=""></a>
                    <a href="#"><img src=" {% static 'images/2.png' %} " alt=""></a>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-7 app-image">
                <img src=" {% static 'images/apps.png' %} " alt="">
            </div>
            <div class="clearfix"></div>
        </div>
                </div>
            </div>
        </div>
    </div>
</div>