{% load staticfiles %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<head>
<title>hPlayer | A Leading Entertainment Site</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="The Best Entertainment site among the community!" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


    <link rel="shortcut icon" type="image/png" href="{% static 'posters/hk.jpg' %}"/>
 <!-- Bootstrap Core CSS -->
<link href=" {% static 'css/bootstrap.css' %} " rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href=" {%  static 'css/style.css' %} " rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href=" {%  static 'css/font-awesome.css' %} " rel="stylesheet">
<!-- jQuery -->
<!-- lined-icons -->
<link rel="stylesheet" href=" {%  static 'css/icon-font.css' %} " type='text/css' />
<!-- //lined-icons -->
 <!-- Meters graphs -->
<script src=" {% static 'js/jquery-2.1.4.js' %} "></script>


</head>