{% load staticfiles %}

<div class="col-md-4 login-pop">
    <div id="loginpop"> <a href="#" id="loginButton"><span>Login <i class="arrow glyphicon glyphicon-chevron-right"></i></span></a><a class="top-sign" href="#" data-toggle="modal" data-target="#myModal5"><i class="fa fa-sign-in"></i></a>
            <div id="loginBox">
    <form action="#" method="post" id="loginForm">
                        <fieldset id="body">
                            <fieldset>
                                  <label for="email">Email Address</label>
                                  <input type="text" name="email" id="email">
                            </fieldset>
                            <fieldset>
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password">
                             </fieldset>
                            <input type="submit" id="login" value="Sign in">
                            <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
                        </fieldset>
                    <span><a href="#">Forgot your password?</a></span>
             </form>
        </div>
    </div>

</div>