{% load staticfiles %}

<div class="price-section">
    <div class="pricing-inner">
        <h3 class="hd-tittle">Upgrade your Plan</h3>
        <div class="pricing">
            <div class="price-top">
                <h3><span>$0.01</span></h3>
                <h4>per month</h4>
            </div>
            <div class="price-bottom">
                <ul>
                    <li><a class="icon" href="#"><i class="glyphicon glyphicon-remove"></i></a><a class="text" href="#">Download unlimited songs</a><div class="clearfix"></div></li>
                    <li><a class="icon" href="#"><i class="glyphicon glyphicon-ok"></i></a><a class="text" href="#">Stream songs in High Definition</a><div class="clearfix"></div></li>
                    <li><a class="icon" href="#"><i class="glyphicon glyphicon-ok"></i></a><a class="text" href="#">No ads unlimited Devices</a><div class="clearfix"></div></li>
                    <li><a class="icon" href="#"><i class="glyphicon glyphicon-ok"></i></a><a class="text" href="#">Stream songs in High Definition</a><div class="clearfix"></div></li>
                </ul>
                <a href="single.html" class="price">Upgrade</a>
            </div>
        </div>
        <div class="pricing two">
            <div class="price-top">
                <h3><span>$0.11</span></h3>
                <h4>per year</h4>
            </div>
            <div class="price-bottom">
                <ul>
                    <li><a class="icon" href="#"><i class="glyphicon glyphicon-ok"></i></a><a class="text" href="#">Download unlimited songs</a><div class="clearfix"></div></li>
                    <li><a class="icon" href="#"><i class="glyphicon glyphicon-ok"></i></a><a class="text" href="#">Stream songs in High Definition</a><div class="clearfix"></div></li>
                    <li><a class="icon" href="#"><i class="glyphicon glyphicon-ok"></i></a><a class="text" href="#">No ads unlimited Devices</a><div class="clearfix"></div></li>
                    <li><a class="icon" href="#"><i class="glyphicon glyphicon-ok"></i></a><a class="text" href="#">Stream songs in High Definition</a><div class="clearfix"></div></li>
                </ul>
                <a href="single.html" class="price">Upgrade</a>
            </div>
        </div>
            <div class="clearfix"></div>
        </div>
        <!--//end-pricing-tables-->
</div>
