{% extends 'hPlay/base.html' %}
{% load staticfiles %}


{% block innerContent %}

    {% if artists %}
        {% include 'hPlay/artists_page.html' %}
    {% elif playlists %}
        {% include 'hPlay/playlists_page.html' %}
    {% elif errors %}
        {% include 'hPlay/404.html' %}
    {% else %}
        <div class="single_left">
        {% if cover %}
            <img src="{% static cover %}" width="257" height="257">
        {% endif %}
            <br>
            <br>

            <br>
            <br>
            {% include 'hPlay/player/small_player.html' %}
        </div>
        <div class="clearfix"> </div>
        {% include 'hPlay/widgets/comment.html' %}

        <div class="clearfix"> </div>
    {% endif %}
{% endblock innerContent %}